body {
    font-size: 12px;
    color: #aaaaaa;
    background-color: var(--dark-mid-color);
    overflow: hidden;
}

form {
    display:flex;
    flex-direction:column;
    gap:8px;
    padding:20px;
}

form > div {
    display:flex;
    align-items:center;
    gap:4px;
}

label {
    width: 300px;
    text-align: right;
}

label.text_box {
    width: 150px;
}

input {
    color: white;
    border: 1px solid #aaa;
    background: none;
    font-family: var(--system-font);
    font-size: 12px;
    outline: none;
    padding: 3px 6px;
}

input[type="text"] {
    width: 190px;
}

input[type="number"] {
    text-align: center;
    width: 25px;
    font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: white;
}

input[type="checkbox"] {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

select {
    line-height: 24px;
    width: 90px;
    height: 24px;
    outline: none;
}

#timestamp_box {
    display:flex;
    flex-wrap:wrap;
    gap:4px;
}

button {
    color: #aaaaaa;
    border-radius: 4px;
    width:fit-content;
    padding:4px 8px;
    background: none;
    border: 1px solid #aaaaaa;
    outline: none;
}

button:active {
    color: white;
    border-color: white;
}

#reset_fkeys_container {
    align-self:center;
}